<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Products - Admin</title>
    <style>
        table{
            border: 2px solid black;
            border-collapse: collapse;
        }
        th, td{
            border: 1px solid black;
            padding: 10px;
        }
        a{
            text-decoration: none;
        }
        img{
            width: 100px;
            height: 100px;
            object-fit: contain;
        }
    </style>
</head>
<body>
    <%- include("adminnav.ejs") %>

    <h1>Show Products - Admin Panel</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Description</th>
            <th>Price</th>
            <th>Image</th>
            <th>Action</th>
        </tr>
        <% locals.products && products.map(product=>{ %>
            <tr>
                <td><%= product.id %></td>
                <td><%= product.title %></td>
                <td><%= product.description %></td>
                <td><%= product.price %></td>
                <td><img src="<%= product.image %>" alt="<%= product.title %> image"></td>
                <td>
                    <a href="/editproduct/<%= product.id %>">Edit</a>
                    <a href="/deleteproduct/<%= product.id %>">Delete</a>
                </td>
            </tr>
        <% }) %>
        <tr>
        </tr>
    </table>
</body>
</html>